@charset "utf-8";
/* CSS Document */
/*CSS viết toàn bộ trong file này */

/********** Start  CSS header **************/
.header{
	height: 60px;
	background: #ec6707;
}
ul.link-top li {
	list-style: none;
	display: inline-block;
	border-right: solid 2px #FFF;
	padding-left: 10px;
	padding-right: 10px;
}
ul.link-top li a{
	color: #FFF;
	text-transform: uppercase;
}
.header-top{width: 100%;
clear: both;
height: 30px;
}
.call-top {
	color: #FFF;
}
.header-menu{
	width: 100%;
	background: #FFF;
	height: 60px;
	position: absolute;
    z-index: 1;
}
.img-logo {
	height: 60px;
}
.menu li.nav-item a {
	color: #636363;
	text-transform: uppercase;

}
.menu li.active > a, .menu li.nav-item a:hover {
	color: #94c11f !important;
}

/*************  End CSS Header *********************/


/*************  Start CSS Home Page *********************/
.carousel-inner img {
      width: 100%;
      height: 100%;
}
.link-rigister:hover {
	text-decoration: none;
}
.link-rigister {
	text-transform: uppercase;
    position: absolute;
    background: #ec6707;
    z-index: 2;
    font-weight: bold;
    color: #FFF !important;
    top: 162px;
    left: 400px;
    padding: 6px 10px;
}
.section-title {
	width: 100%;
	height: 80px;
	padding-top: 20px;
}
.section-title h1{
	font-size: 24px;
}
/*************  End CSS Home Page *********************/