@charset "utf-8";
/* CSS Document */
/*CSS viết toàn bộ trong file này */


/********** Start  CSS header **************/
.header{
	height: 60px;
	background: #ec6707;
}
ul.link-top li {
	list-style: none;
	display: inline-block;
	border-right: solid 2px #FFF;
	padding-left: 10px;
	padding-right: 10px;
}
ul.link-top li a{
	color: #FFF;
	text-transform: uppercase;
}
.header-top{width: 100%;
clear: both;
height: 30px;
}
.call-top {
	color: #FFF;
}
.header-menu{
	width: 100%;
	background: #FFF;
	height: 60px;
	position: absolute;
    z-index: 1;
}
.img-logo {
	height: 60px;
}
.menu li.nav-item a {
	color: #636363;
	text-transform: uppercase;

}
.menu li.active > a, .menu li.nav-item a:hover {
	color: #94c11f !important;
}

/*************  End CSS Header *********************/


/*************  Start CSS Home Page *********************/
.carousel-inner img {
      width: 100%;
      height: 100%;
}
.link-rigister:hover {
	text-decoration: none;
}
.link-rigister {
	text-transform: uppercase;
    position: absolute;
    background: #ec6707;
    z-index: 2;
    font-weight: bold;
    color: #FFF !important;
    top: 162px;
    left: 400px;
    padding: 6px 10px;
}
.section-title {
	width: 100%;
	height: 80px;
	padding-top: 20px;
}
.section-title h1{
	font-size: 24px;
}
/*************  End CSS Home Page *********************/












/********** Start  CSS Booking **************/

h3.subtitle {
    text-align: center;
    text-transform: uppercase;
    font-weight: 900;
    color: #363636;
    font-size: 20px;
    line-height: 2.4000000000000004rem;
}
hr.hrhr {
    border-top: 4px solid #f58220;
    width: 190px;
    margin-top: 10px;
}
p.card-text {
    margin-top: -10px;
    font-size: 13px;
}
.d-flex.bd-highlight.subwrap {
    border: solid 1px #ddd;
    border-radius: 30px;
}
.p-2.flex-shrink-1.bd-highlight.btnwrap {
    background: #94c11f;
    font-size: 9px;
    border-radius: 30px 0px 0px 30px;
    color: white;
}
b.heading_intro {
    font-size: 9px;
}
strike {
    font-size: 9px;
}
.d-flex.bd-highlight.subwrap {
    height: 30px;
}
.p-2.w-100.bd-highlight.submarine {
    margin-top: -8px;
}
div#list-stadium-between {
    background: #f6f4f4;
    margin-top: 40px;
}
a.btn.btn-outline-success {
    border-radius: 30px;
    width: 100%;
    padding: 0px;
    background: white;
    color: #94c11f;
}
a.btn.btn-outline-success:hover {
    background: #94c11f;
    color: white;
}
.card:hover{
    border:solid 1px #94c11f;
}
.card-deck {
    padding-bottom: 40px;
}
div#list-stadium-bottom {
    background: white;
    margin-top: 40px;
}
.hrhrhotdeal{
    border-top: 4px solid #f58220;
    width: 100px;
    margin-top: 10px;
}
.background-price{
    background: #f58220;
}
.color_intro{
    color: white;
}
h6.card-title {
    font-size: 12px;
    font-weight: bold;
}
.p-2.flex-shrink-1.bd-highlight.bd-highlight-price {
    border: solid 1px #94c11f;
    width: 302px;
    border-radius: 30px;
    height: 26px;
}
b.heading_intro.intro_font {
    font-size: 12px;
}
i.fa.fa-dollar.fa-dollar-intro {
    padding: 3px 0px 0px 7px;
    margin-top: -4px;
    background: #f58220;
    color: white;
    font-size: 14px;
    border-radius: 100px;
    width: 22px;
    height: 22px;
    margin-right: 4px;
    margin-left: -6px;
}
a.btn.btn-outline-success.intro-dk {
    font-size: 14px;
    background: #94c11f;
    color: white;
    border: solid 1px #94c11f;
}
a.btn.btn-outline-success.intro-dk:hover{
    background: white;
    color: #94c11f;
}

/*************  End CSS Booking *********************/